.entry {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  max-width: 396px;
  padding: 70px 0;
}

.entry__logo {
  box-sizing: border-box;
  object-fit: contain;
  width: 38px;
  height: 38px;
}

.entry__logo:hover {
  transition: opacity ease;
  opacity: 0.8;
  cursor: pointer;
}

.entry__title {
  text-align: left;
  font-weight: 500;
  font-size: 24px;
  line-height: normal;
  margin: 0;
  max-width: 396px;
  padding: 0;
  color: #000;
  margin: 35px 0 40px 0;
}

.form {
  min-height: 380px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.form__label {
  font-family: 'Inter', 'Arial', sans-serif;
  text-align: left;
  font-weight: 400;
  font-size: 10px;
  line-height: normal;
  margin: 0;
  padding: 0;
  color: #A0A0A0;
  display: flex;
  flex-direction: column;
}

.form__input {
  font-family: 'Inter', 'Arial', sans-serif;
  border: none;
  appearance: none;
  color: #000000;
  font-size: 13px;
  font-weight: 400;
  line-height: normal;
  text-align: left;
  padding: 15px 0 15px 15px;
  margin: 10px 0 20px 0;
  width: 381px;
  background-color: #F9F9F9;
  border-radius: 8px;
}

.form__input:focus {
  border: none;
  outline: none;
  background-color: #F9F9F9;
}

.form__button-submit {
  font-family: 'Inter', 'Arial', sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: normal;
  color: #FFF;
  text-decoration: none;
  background-color: #000;
  border-radius: 3px;
  width: 396px;
  height: 45px;
  border: none;
  outline: none;
  margin-top: auto;
}

.form__button-submit:hover {
  transition: opacity ease;
  opacity: 0.8;
  cursor: pointer;
}

.entry__question {
  text-align: center;
  font-weight: 400;
  font-size: 14px;
  line-height: normal;
  margin: 18px 2px 0 0;
  padding: 0;
  color: #A0A0A0;
}

.entry__link {
  font-family: 'Inter', 'Arial', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: normal;
  color: #000;
  text-decoration: none;
  text-align: center;
  margin: 0 0 0 5px;
  padding: 0;
}

.entry__link:hover {
  transition: opacity ease;
  opacity: 0.7;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .entry {
    padding: 232px 0;
  }
}

@media screen and (max-width: 500px) {
  .entry {
    padding: 56px 0 30px;
    align-items: center;
  }

  .form__button-submit {
    font-size: 12px;
    width: 260px;
    margin: auto auto 0;
  }
  
  .form__input {
    width: 245px;
  }

  .entry__title {
    margin: 45px 0 80px 0;
  }

  .form__label {
    margin: 0 auto;
  }

  .entry__question {
    font-size: 12px;
    margin-top: 14px;
  }
  
  .entry__link {
    font-size: 12px;
    margin-left: 7px;
  }

  .form {
    min-height: 469px;
  }
}